---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Blog";

---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="title">Blog</h1>
	<p class="mt-8">Check out my latest posts</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} /> )}
	</ul>
</BaseLayout>