---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Alex's Site</h1>
	<p>Hi! My name is Alex and I am working as a Software/Network Engineer in Melbourne, Australia. I studied CS and Electrical Engineering at University.
		I enjoy being on the terminal and learning new technolgies. I also enjoy programming language design with a soft spot for the functional paradigm.
	</p>
</BaseLayout>