---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import Social from '../components/Social.astro';
import { Image } from 'astro:assets';
const pageTitle = "Alex Leye";
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="title">Alex's Site</h1>
		<Greeting client:load messages={["Hi"]} />
	<p class="mt-8">
		My name is Alex and I am a
		<span class="inline-block relative whitespace-nowrap">
			Backend Software Engineer
			<svg
			    class="block overflow-visible absolute left-0 bottom-0"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 103.10652 4"
				preserveAspectRatio="none"
				style="position: absolute; left: 0; bottom: -1px; width: 100%; height: 3px; z-index: -1;"
				>
				<path
					style="fill:#94a3b8;stroke-width:0.264583"
					d="M 0,2 Q 25.77663,0.5 51.55326,2 T 103.10652,2"
				/>
			</svg>
		</span>
		based in Melbourne, Australia. I studied CS and Electrical Engineering at Monash University. I'm passionate about software because I think it gives everyone, no matter their background, the chance to create almost anything imaginable. Also, learning how mathematics translates into algorithms that power our world - from search algorithms to transformer models - is <em>really cool</em>!
		</br> </br> 
		At the moment, I specialise in building high-performance API microservices on AWS cloud services. 
		<Image 
		src="/working-s.webp" 
		alt="working at the table. Creative Commons License (CC)." 
		class="float-right ml-4 mb-2 h-auto sm:max-w-xs object-scale-down" 
		style="width: 150px; height: 150px;"
		width={150}
		height={150}
		loading="eager"
		/>
		Before that, I have worked in various backend roles, such as web development and as a research assistant for optimising UI rendering for 3D layouts. While at university, I also had the opportunity to teach mobile web app development and programming paradigms - being an advocate for functional programming and clean, declarative code. </br> </br>


		When I'm not coding, I enjoy watching movies, playing games, and finding good eating spots around Melbourne. I'd love to connect with more people. Let's chat!
	</p>
	<div class="mt-2 flex flex-1 items-center gap-x-2 sm:flex-initial">
		<p>Find me on:  </p>
		<Social />
	</div>

</BaseLayout>