---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import Social from '../components/Social.astro';
const pageTitle = "Alex Leye";
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="title">Alex's Site</h1>
		<Greeting client:load messages={["Hi", "Hallo", "Hola", "Habari"]} />
	<p class="mt-8">My name is Alex and I am a
		<span class="inline-block relative whitespace-nowrap">
			Software Engineer
			<svg
			    class="block overflow-visible absolute left-0 bottom-0"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 103.10652 7.6486049"
				preserveAspectRatio="none"
				style="position: absolute; left: 0; bottom: -2px; width: 100%; height: 5px; z-index: -1;"
				>
				<g
					id="layer1"
					transform="translate(-55.906442,-112.26866)">
					<path
					style="fill:#ff0000;stroke-width:0.264583"
					id="path1"
					d="m 56.968022,117.35776 c 2.324936,-1.45191 5.008321,-2.21405 7.633554,-2.92008 3.840877,-0.98015 7.811415,-1.13979 11.753122,-1.27265 3.45304,-0.13234 6.90126,-0.053 10.340094,0.27228 2.355752,0.24038 4.684033,0.68572 6.985672,1.23412 1.583957,0.38314 3.142692,0.85997 4.715476,1.28471 1.595125,0.42107 3.19897,0.80781 4.80135,1.20002 1.71597,0.42252 3.43982,0.81187 5.16857,1.17833 1.86133,0.40231 3.74458,0.68558 5.63537,0.90428 2.03747,0.21271 4.07866,0.38769 6.12274,0.52233 1.76997,0.108 3.54373,0.12651 5.31643,0.14257 1.39049,0.0266 2.7772,0.0247 4.1624,-0.10428 2.08192,-0.25897 4.16018,-0.5407 6.24668,-0.76191 2.46282,-0.25796 4.93204,-0.44637 7.3989,-0.66041 1.80084,-0.16162 3.60341,-0.30222 5.40348,-0.47238 1.48558,-0.17207 2.96929,-0.3598 4.45446,-0.53547 1.29107,-0.17004 2.58829,-0.28189 3.88858,-0.34771 0.6287,-0.0471 1.26042,-0.021 1.88944,-0.051 0.55564,-0.17729 -0.86175,-0.45224 -0.97732,-0.49536 0,0 0.40389,0.25129 0.40389,0.25129 v 0 c -0.38828,-0.46687 -0.42732,-0.84069 -0.92823,-0.83582 -0.6122,0.0304 -1.22521,0.0461 -1.83667,0.0914 -1.29127,0.0898 -2.58096,0.2013 -3.86359,0.37899 -1.48216,0.18837 -2.96386,0.38204 -4.45041,0.53323 -1.77917,0.18208 -3.55926,0.35442 -5.34054,0.51481 -2.46672,0.21437 -4.93584,0.40314 -7.39826,0.66442 -2.10123,0.21597 -4.19432,0.49326 -6.29368,0.72412 -1.38191,0.10214 -2.76529,0.10968 -4.15067,0.0935 -1.7653,-0.01 -3.53111,-0.0327 -5.29377,-0.13825 -2.04265,-0.13206 -4.08224,-0.30874 -6.1173,-0.52935 -1.89101,-0.22738 -3.7742,-0.51756 -5.63582,-0.92426 -1.72946,-0.36861 -3.45338,-0.76263 -5.17025,-1.18624 -1.5991,-0.39186 -3.200166,-0.77645 -4.791794,-1.19799 -1.557073,-0.42364 -3.104943,-0.88349 -4.677542,-1.24791 -2.276816,-0.51369 -4.578125,-0.92077 -6.902966,-1.14477 -3.404378,-0.30415 -6.818556,-0.29881 -10.233326,-0.17123 -3.938437,0.1448 -7.916125,0.27641 -11.741571,1.31998 -2.610263,0.73546 -5.300276,1.49182 -7.578077,3.01524 z"
                    />
				</g>
			</svg>
		</span> 
		based in Melbourne, Australia. I studied CS and Electrical Engineering at University. I enjoy being on the 
		terminal and learning new technolgies. I also enjoy programming language design, with a soft spot for the 
		functional paradigm.
	</p>
	<!-- <div class="mt-8 flex flex-1 items-center gap-x-2 sm:flex-initial">
		<p>Find me on </p>
		<Social />
	</div> -->
	<div class="flex mt-auto">
		<img src="/working.gif" alt="working at the table. Creative Commons License (CC)." class="flex mt-auto ml-auto h-auto sm:max-w-xs object-scale-down" style="width: 150px; height: 150px;">
	</div>
</BaseLayout>