---
const {url, title, pubDate} = Astro.props;
---
<li class="mb-3">
    <a href={url} class="text-base font-bold text-blue-600 hover:underline">{title}</a>
    <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
        {pubDate.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' })}
    </div>
</li>
