---
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';

const navLinks: Array<{
    title: string,
    path: string
}> = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Blog",
        path: "/blog/"
    },
    {
        title: "Space",
        path: "/space/"
    },
    // {
    //     title: "Library",
    //     path: "/library/"
    // },
];
---
<header class="group relative mb-12 flex items-center justify-between text-right align-top gap-x-6 sm:pe-[4.5rem]">
    <Hamburger />
    <nav
    class="nav-links flex justify-between sm:items-center divide-x divide-dashed divide-gray-500 sm:rounded-none" 
    >
        {
            navLinks.map((n) => (
                <a
                    href={n.path}
                    class="px-4 py-4 sm:py-0 sm:hover:underline"
                >
                    {n.title}
                </a>
            ))
        }
    </nav>
    <ThemeIcon />
    <script is:inline>
        // set theme before page load
        // default to dark theme, only if it is not set in storage
        const storedTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'dark');
        if (storedTheme === 'light') {
            document.documentElement.classList.remove('dark');
        } else {
            document.documentElement.classList.add('dark');
        }
    </script>
</header>
